<div class="panel noround">
 <div class="panel-heading navbar-custom-titles noround text-center"><b>Navigation</b>
  <a data-toggle="collapse" class="pull-right white fa fa-minus-square" onclick="change(this);return false;" href="#navigation"></a>
 </div>
 <div id="navigation" class="panel-collapse collapse in">
  <div class="panel-body">
   <div class="tagsort-tags-container"></div>
  </div>
 </div>
 <!--collapse-->
</div>
<div class="panel white noround">
 <div class="panel-heading navbar-custom-titles noround text-center"> <b>Characters</b>
  <a data-toggle="collapse" class="pull-right white fa fa-minus-square" onclick="change(this);return false;" href="#characters"></a>
 </div>
 <div id="characters" class="panel-collapse collapse in">
  <div class="panel-body ">
   <div class="row img-check">

    <div class="item-to-tag col-xs-3 col-sm-2" data-item-tags="Hero,Saiyan">
     <a href="#" id="zGu" onclick="showCharacter(this);return false;"><img class="img-thumbnail " src="/assets/zGu.jpg"></a>
    </div>
    <div class="item-to-tag col-xs-3 col-sm-2" data-item-tags="Hero,Namekian">
     <a href="#" id="zPo" onclick="showCharacter(this);return false;"><img class=" img-thumbnail" src="/assets/zPo.jpg"></a>
    </div>
    <div class="item-to-tag col-xs-3 col-sm-2" data-item-tags="Hero,Saiyan,Human">
     <a href="#" id="zKG" onclick="showCharacter(this);return false;"><img class="img-thumbnail" src="/assets/zKG.jpg"></a>
     </div>
     <div class="item-to-tag col-xs-3 col-sm-2" data-item-tags="Hero,Human">
     <a href="#" id="zYa" onclick="showCharacter(this);return false;"><img class="img-thumbnail" src="/assets/zYa.jpg"></a>
    </div>
    <div class="item-to-tag col-xs-3 col-sm-2" data-item-tags="Hero,Human">
     <a href="#" id="zKn" onclick="showCharacter(this);return false;"><img class="img-thumbnail" src="/assets/zKn.jpg"></a>
    </div>
   
   </div>


  </div>
 </div>
 <!--collapse-->
</div>




<div class="panel noround">
 <div class="panel-heading navbar-custom-titles noround text-center"><b id="cName">Character</b>
  <a data-toggle="collapse" class="pull-right white fa fa-minus-square" onclick="change(this);return false;" href="#character"></a>
 </div>
 <div id="character" class="panel-collapse collapse in">
  <div class="panel-body characterID cb">
   <div class="col-sm-2 col-xs-3"><img id="cAva" class="img-thumbnail " src="/ava/box.png"></div>
   <div class="col-sm-10 col-xs-9">
    <p id="cText">Description</p>
   </div>
  </div>
  <!--collapse-->
 </div>


</div>
<div class="panel white noround">
 <div class="panel-heading navbar-custom-titles noround text-center"> <b>Skills</b>
  <a data-toggle="collapse" class="pull-right white fa fa-minus-square" onclick="change(this);return false;" href="#skills"></a>
 </div>
 <div id="skills" class="panel-collapse collapse in">
  <div class="panel-body ">
   <div class="row" id="skill">


   </div>
  </div>
  <!--collapse-->
 </div>

</div>
<div class="panel noround">
 <div class="panel-heading navbar-custom-titles noround text-center"><b id="skillname">Skill Name</b>
  <a data-toggle="collapse" class="pull-right white fa fa-minus-square" onclick="change(this);return false;" href="#sname"></a>
 </div>
 <div id="sname" class="panel-collapse collapse in">
  <div class="panel-body cb sd">
   <div class="col-sm-2 col-xs-3"><img id="skillavater" class="img-thumbnail " src="/ava/box.png"></div>
   <div class="col-sm-10 col-xs-9">
    <p id="skilldescription">Skill Description</p><small id="skillinfo" class="wspace"></small></div>

  </div>
 </div>
 <!--collapse-->
</div>

</div>
