<br>
   <div class="panel panel-default" style="background-image: url(/assets/a1.jpg);background-repeat: no-repeat; border: 0; width: 100%; height: auto;">

        
        <div class="panel-body text-center">
             <br>
    <br>
    <br>
    <br>
  <input id="slider" style="visibility: hidden" type ="range" min ="0" max="1.0" step ="0.1" />  
 
    <canvas class="center-block" id="myCanvas" style="border:1px solid #000000" ></canvas> 

    <br>
    <br>
    <br>
    <br>
          <br>
        </div>
             
    </div>
</div>




  
<input id="slider" style="visibility: hidden" type ="range" min ="0" max="1.0" step ="0.1" />  