<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> Information and Questions About The Dragon Ball Universe and Budokai-Online</h3>
                 
             </div>
             <div class="panel-body">
                 This page is for answering common questions and problems.
                     </div>
             </div>
             
        <div class="scrollList">
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> What is the Dragon Ball universe and how can I learn more about it?</h3>
                 
             </div>
             <div class="panel-body">
              The Dragon Ball universe is a series created by <u><a class="fixed" href="http://dragonball.wikia.com/wiki/Akira_Toriyama"><b>Akira Toriyama</a></u></b> during the early 80's. It focuses on Son Goku or just Goku, the main protagonist of the series and the vast universe of enemies who are foiled by Goku and his team of Z Warriors. To get an in-debt understanding of the series you can visit the <u><a class="fixed" href="http://dragonball.wikia.com/"><b>Dragon Ball Wiki</a></b></u> and read more about unique enemies, heroes and the Dragon Ball story in general.
                     </div>
             </div>
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> What is Budokai-Online?</h3>
                 
             </div>
             <div class="panel-body">
              Budokai-Online is an online multiplayer strategy game that focuses on the vast universe of the Dragon Ball Saga. Players around the world can unite and battle each other by creating unique combos with various characters and items from the series.
                     </div>
             </div>
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> How do I figure out how to play the game?</h3>
             </div>
             <div class="panel-body">
                 You can visit our <u><a class="fixed" href="https://budokai-online.com/how_to_play"><b>Game Manual</a></u></b> to get a better understanding of the game. Once there you will see different areas on how characters and teams work as well as items and different options available for players to utilize. 
                     </div>
             </div>
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> I forgot my login credentials. How can I regain access to my account?</h3>
                 
             </div>
             <div class="panel-body">
                  It's not unusual that most people forget their login information. If you've forgotten your username or even your password, you can use the <u><strong>Forgot Password</strong></u> option while logged out. There you can enter the email address you used to register your account on the site. <b>Note:</b> Budokai-Online staff will never ask you for your passwords! It is strongly recommended that you use a verified email as well as never sharing login credentials with anyone.
                     </div>
             </div>
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> I'm inside the game/site and nothing works. How can I fix this issue?</h3>
                 
             </div>
             <div class="panel-body">
                 The best solution to this problem is to clear your internet cookies and cache. Deleting these two will tell your browser that this is the first time you're visiting this website. Budokai-Online requires your device to have javascript enabled. It is also recommended to have an up to date browser when playing the game. If the problem still persists, you can create a thread within our forum elaborating on the issue and we will try our best to get the problem resolved.
                     </div>
             </div>
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> I have a suggestion for the game or site and I would like to share it with you guys. What should I do?</h3>
                 
             </div>
             <div class="panel-body">
                 If you have suggestions for the overall site in general, you can contact the staff via email and let us know the details. In addition we have a forum where members can suggest different features that would be useful for both players and visitors together. If you have an account and would like to leave a comment just visit the forum and post away!
                     </div>
             </div>
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> I have a suggestion for the game or site and I would like to share it with you guys. What should I do?</h3>
                 
             </div>
             <div class="panel-body">
                   If you have suggestions for the overall site in general, you can contact the staff via email and let us know the details. In addition we have a forum where members can suggest different features that would be useful for both players and visitors together. If you have an account and would like to leave a comment just visit the forum and post away!
                     </div>
             </div>
<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB"> Who are the people responsible for Budokai-Online and how can I contact them?</h3>
                 
             </div>
             <div class="panel-body">
               Budokai-Online's staff consists of numerous people who are trying to make the game more unique everyday yet each of them living normal lives like everyone else. The current webmasters are <u><a class="fixed" href="/user/goku"><b>Goku</a></b></u> and <u><a class="fixed" href="/user/goku"><b>Vegeta</a></b></u>. If you have questions or concerns just send one of them a message and they will get back to you soon!
                     </div>
             </div>
 
</div>




