Yolo Check?

<% if @r %> 

  <% @r.each do |r| %>
  
  <li class="white"> <%= r.name %></li>
  
  <% end %>
<% end %>

<% if @m %> 

  <% @m.each do |m| %>
  <li class="white"> <%= m.id %></li>
  
  <% end %>
<% end %>