
        <div class="carousel slide article-slide" id="myCarousel">
       <!-- Indicators -->
        <div class="col-xs-1">
      <ol class="carousel-indicators ">
        <li class="active" data-slide-to="0" data-target="#myCarousel">
          <img alt="" title="" height="44" width="120" src="/images/Banner.jpg">
          
        </li>
        <li class="" data-slide-to="1" data-target="#myCarousel">
          <img alt="" title="" height="44" width="120" src="/images/Banner.jpg">
        </li>
        <li class="" data-slide-to="2" data-target="#myCarousel">
          <img alt="" title="" height="44" width="120" src="/images/Banner.jpg">
        </li>               
      </ol>   
      </div>
      <div class="carousel-inner cont-slider">
   
        <div class="item active">
          <img src="/images/third.jpg">
           <div class="carousel-caption text-left">
        <h3 class="header text-left up1"> Chania</h3>
        <h6 class="text-left up2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. ally unchanged.</h6>
      </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x440/999999/cccccc">
          <div class="carousel-caption text-left">
        <h3 class="header text-left up1"> Chania</h3>
        <h6 class="text-left up2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. ally unchanged.</h6>
      </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x440/dddddd/333333">
          <div class="carousel-caption text-left">
        <h3 class="header text-left up1"> Chania</h3>
        <h6 class="text-left up2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. ally unchanged.</h6>
      </div>
        </div>               
      </div>
      
                   
    </div>