<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange marginup2">
             <h2 class="OB text-center">Control Panel</h2>
             </div>
       
             <div class="panel-body ">
                 <div class="row">
                 <div class="col-lg-4"><button href="#" class="button3 btn-block" data-toggle="modal" data-target="#change_general">Change General Information</button></div>
                 <div class="col-lg-4"><button href="#" class="button3 btn-block" data-toggle="modal" data-target="#change_email">Change Email</button></div>
                 <div class="col-lg-4">  <button href="#" class="button3 btn-block" data-toggle="modal" data-target="#change_password">Change Password</button></div>
                 
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-lg-4"> <button href="#" class="button3 btn-block" data-toggle="modal" data-target="#change_custom">Change Custom Avatar</button></div>
                 <div class="col-lg-4"><button href="#" class="button3 btn-block" data-toggle="modal" data-target="#change_avater">Change Pre-defined Avatar</button></div>
                  <div class="col-lg-4"><button href="#" class="button3 btn-block" data-toggle="modal" data-target="#change_background_game">Change Forum Rank</button></div>
                  </div>
            
          
           
            
            

</div>  

    </div>
   
 </div>





<!-- New Password --->
<div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
           
            <div class="modal-body modal-bg">
                  <div class="button1" >Change Password </div> 
                <div class="shadow2">
              
                <form action="/change-password" method="post" id="new_password_form">
                    Current Password <input type="password" name="password" class="form-control" required> <br> New Password <input type="password" name="new_password" class="form-control" required> <br>

 <input type="submit" class="btn btn-default btn-block " value="Click to Submit">
            </div>

  </form>
    
        </div>
        </div>
    </div>
</div>

<!-- Change Avater Custom --->
<div class="modal fade" id="change_custom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <div class="modal-body modal-bg">
                 <div class="button1" >Custom Avatars </div> 
<div class="shadow2">
                <form action="/upload" id="uploadimage" class="upload-form" method="post" enctype="multipart/form-data" accept="image/*" >
                    <p class="text-center">Browse your PC for an image!</p>
                    <div class=""><input type="file" id="file" class="upload-file btn btn-default center-block" data-max-size="100000" name="file" accept="image/jpeg, image/png" required></div>

<br>
 <input class="btn btn-default btn-block" type="submit" value="Upload"> </form>
 </div>
            </div>

           
        </div>
    </div>
</div>

<!-- Change Avater Pre-Selected --->

<div class="modal fade" id="change_avater" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <!---Row 1-->
            <div class="modal-body  modal-bg">
                <div class="button1" id="myModalLabel">Pre-defined Avatars</div> 
                <div class=" shadow2  ">
                <form role="form" action="/avater" method="post">
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava1.png" id="picture1" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava1.png" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava2.jpg" id="picture2" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava2.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava3.jpg" id="picture3" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava3.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava4.jpg" id="picture4" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava4.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava5.jpg" id="picture5" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava5.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava6.jpg" id="picture3" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava6.jpg" checked>
                        </div>
                    </div>
                      <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava7.jpg" id="picture1" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava7.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava8.jpg" id="picture2" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava8.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava9.jpg" id="picture3" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava9.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava10.jpg" id="picture4" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava10.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava11.jpg" id="picture5" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava11.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava12.jpg" id="picture3" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava12.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava13.jpg" id="picture2" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava13.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava14.jpg" id="picture3" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava14.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava15.jpg" id="picture4" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava15.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava16.jpg" id="picture5" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava16.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava17.jpg" id="picture3" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3  ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava17.jpg" checked>
                        </div>
                    </div>
                     <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava18.jpg" id="picture4" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3 ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava18.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava19.jpg" id="picture5" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3 ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava19.jpg" checked>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <img src="/ava/ava20.jpg" id="picture3" class="img-responsive" />
                        <div class="col-sm-2 col-sm-offset-3 ">
                            <input type="radio" class="center-text" required name="avater" id="avater" value="/ava/ava20.jpg" checked>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-default btn-block">Save Image</button>
                    </form>
            </div>
            </div>
            <!---Row 2-->

           
            </div>




            <!---Submit-->
        
        
    </div>
</div>
</form>

 

<!-- Change Email --->
<div class="modal fade" id="change_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
         
            <div class="modal-body modal-bg">
                <div class="button1" >Email Address</div> 
                <div class="shadow2">
                <form action="/change_email" class="form-group" method="post">
                    <label for="email">New Email Address?</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your new email here" required>
                    <span id="helpBlock" class="help-block">Your registered email is <%= @user.email %></span>
<input type="submit" class="btn btn-default btn-block" value="Change Email"> 
</form>

</div>
            </div>
        </div>
    </div>
</div>

 <!--Change Forum Rank Game -->
<div class="modal fade" id="change_background_game" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
            <div class="modal-body modal-bg">
                <div class="button1" >Forum Rank </div>
                <div class="shadow2">
                  
                 
                <form action="/forumrank" class="form-group" method="post">
                    <label for="game">Change Forum Rank - Max Length for Title is 50 characters.</label>
                    <input type="rank" class="form-control" name="background_game" placeholder="Enter Forum Title Here" required>
                    <span id="helpBlock" class="help-block"></span>
<input type="submit" class="btn btn-default btn-block" value="Change Forum Rank"> </form> 
            </div>
            
   </div>       

            
        </div>
    </div>
</div>


<!-- Change General Information Main --->
<div class="modal fade" id="change_general" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <div class="modal-body modal-bg">
                 <div class="button1" >General Player Information</div>
                 <div class="shadow2">
                <form action="/general_info" class="form-group" method="post">
                    <label>What Is Your Gender?</label>
                    <div class="form-group ">
                        <input type="radio" required name="gender" id="Gender" value="male">Male
                        <input type="radio" required name="gender" id="Gender" placeholder="Gender" value="female">Female
                        <input type="radio" required name="gender" id="Gender" value="N/A">N/A
                    </div>
                    <label>What Country Are You From?</label>
                    <div class="form-group">

                        <select class="form-control" name="country" value="<%= @user.country %>">
<option value="United States">United States of America</option>    
<option value="Afganistan">Afghanistan</option>
<option value="Albania">Albania</option>
<option value="Algeria">Algeria</option>
<option value="American Samoa">American Samoa</option>
<option value="Andorra">Andorra</option>
<option value="Angola">Angola</option>
<option value="Anguilla">Anguilla</option>
<option value="Antigua Barbuda">Antigua &amp; Barbuda</option>
<option value="Argentina">Argentina</option>
<option value="Armenia">Armenia</option>
<option value="Aruba">Aruba</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Bahamas">Bahamas</option>
<option value="Bahrain">Bahrain</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Barbados">Barbados</option>
<option value="Belarus">Belarus</option>
<option value="Belgium">Belgium</option>
<option value="Belize">Belize</option>
<option value="Benin">Benin</option>
<option value="Bermuda">Bermuda</option>
<option value="Bhutan">Bhutan</option>
<option value="Bolivia">Bolivia</option>
<option value="Bonaire">Bonaire</option>
<option value="Bosnia Herzegovina">Bosnia &amp; Herzegovina</option>
<option value="Botswana">Botswana</option>
<option value="Brazil">Brazil</option>
<option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
<option value="Brunei">Brunei</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Burundi">Burundi</option>
<option value="Cambodia">Cambodia</option>
<option value="Cameroon">Cameroon</option>
<option value="Canada">Canada</option>
<option value="Canary Islands">Canary Islands</option>
<option value="Cape Verde">Cape Verde</option>
<option value="Cayman Islands">Cayman Islands</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Chad">Chad</option>
<option value="Channel Islands">Channel Islands</option>
<option value="Chile">Chile</option>
<option value="China">China</option>
<option value="Christmas Island">Christmas Island</option>
<option value="Cocos Island">Cocos Island</option>
<option value="Colombia">Colombia</option>
<option value="Comoros">Comoros</option>
<option value="Congo">Congo</option>
<option value="Cook Islands">Cook Islands</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Cote DIvoire">Cote D'Ivoire</option>
<option value="Croatia">Croatia</option>
<option value="Cuba">Cuba</option>
<option value="Curaco">Curacao</option>
<option value="Cyprus">Cyprus</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Djibouti">Djibouti</option>
<option value="Dominica">Dominica</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="East Timor">East Timor</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="El Salvador">El Salvador</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Eritrea">Eritrea</option>
<option value="Estonia">Estonia</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Falkland Islands">Falkland Islands</option>
<option value="Faroe Islands">Faroe Islands</option>
<option value="Fiji">Fiji</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="French Guiana">French Guiana</option>
<option value="French Polynesia">French Polynesia</option>
<option value="French Southern Ter">French Southern Ter</option>
<option value="Gabon">Gabon</option>
<option value="Gambia">Gambia</option>
<option value="Georgia">Georgia</option>
<option value="Germany">Germany</option>
<option value="Ghana">Ghana</option>
<option value="Gibraltar">Gibraltar</option>
<option value="Great Britain">Great Britain</option>
<option value="Greece">Greece</option>
<option value="Greenland">Greenland</option>
<option value="Grenada">Grenada</option>
<option value="Guadeloupe">Guadeloupe</option>
<option value="Guam">Guam</option>
<option value="Guatemala">Guatemala</option>
<option value="Guinea">Guinea</option>
<option value="Guyana">Guyana</option>
<option value="Haiti">Haiti</option>
<option value="Hawaii">Hawaii</option>
<option value="Honduras">Honduras</option>
<option value="Hong Kong">Hong Kong</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="India">India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran">Iran</option>
<option value="Iraq">Iraq</option>
<option value="Ireland">Ireland</option>
<option value="Isle of Man">Isle of Man</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Jamaica">Jamaica</option>
<option value="Japan">Japan</option>
<option value="Jordan">Jordan</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Kenya">Kenya</option>
<option value="Kiribati">Kiribati</option>
<option value="Korea North">Korea North</option>
<option value="Korea Sout">Korea South</option>
<option value="Kuwait">Kuwait</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Laos">Laos</option>
<option value="Latvia">Latvia</option>
<option value="Lebanon">Lebanon</option>
<option value="Lesotho">Lesotho</option>
<option value="Liberia">Liberia</option>
<option value="Libya">Libya</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Lithuania">Lithuania</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Macau">Macau</option>
<option value="Macedonia">Macedonia</option>
<option value="Madagascar">Madagascar</option>
<option value="Malaysia">Malaysia</option>
<option value="Malawi">Malawi</option>
<option value="Maldives">Maldives</option>
<option value="Mali">Mali</option>
<option value="Malta">Malta</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Martinique">Martinique</option>
<option value="Mauritania">Mauritania</option>
<option value="Mauritius">Mauritius</option>
<option value="Mayotte">Mayotte</option>
<option value="Mexico">Mexico</option>
<option value="Midway Islands">Midway Islands</option>
<option value="Moldova">Moldova</option>
<option value="Monaco">Monaco</option>
<option value="Mongolia">Mongolia</option>
<option value="Montserrat">Montserrat</option>
<option value="Morocco">Morocco</option>
<option value="Mozambique">Mozambique</option>
<option value="Myanmar">Myanmar</option>
<option value="Nambia">Nambia</option>
<option value="Nauru">Nauru</option>
<option value="Nepal">Nepal</option>
<option value="Netherland Antilles">Netherland Antilles</option>
<option value="Netherlands">Netherlands (Holland, Europe)</option>
<option value="Nevis">Nevis</option>
<option value="New Caledonia">New Caledonia</option>
<option value="New Zealand">New Zealand</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Niger">Niger</option>
<option value="Nigeria">Nigeria</option>
<option value="Niue">Niue</option>
<option value="Norfolk Island">Norfolk Island</option>
<option value="Norway">Norway</option>
<option value="Oman">Oman</option>
<option value="Pakistan">Pakistan</option>
<option value="Palau Island">Palau Island</option>
<option value="Palestine">Palestine</option>
<option value="Panama">Panama</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Paraguay">Paraguay</option>
<option value="Peru">Peru</option>
<option value="Phillipines">Philippines</option>
<option value="Pitcairn Island">Pitcairn Island</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Puerto Rico">Puerto Rico</option>
<option value="Qatar">Qatar</option>
<option value="Republic of Montenegro">Republic of Montenegro</option>
<option value="Republic of Serbia">Republic of Serbia</option>
<option value="Reunion">Reunion</option>
<option value="Romania">Romania</option>
<option value="Russia">Russia</option>
<option value="Rwanda">Rwanda</option>
<option value="St Barthelemy">St Barthelemy</option>
<option value="St Eustatius">St Eustatius</option>
<option value="St Helena">St Helena</option>
<option value="St Kitts-Nevis">St Kitts-Nevis</option>
<option value="St Lucia">St Lucia</option>
<option value="St Maarten">St Maarten</option>
<option value="St Pierre Miquelon">St Pierre &amp; Miquelon</option>
<option value="St Vincent Grenadines">St Vincent &amp; Grenadines</option>
<option value="Saipan">Saipan</option>
<option value="Samoa">Samoa</option>
<option value="Samoa American">Samoa American</option>
<option value="San Marino">San Marino</option>
<option value="Sao Tome Principe">Sao Tome &amp; Principe</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Senegal">Senegal</option>
<option value="Serbia">Serbia</option>
<option value="Seychelles">Seychelles</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Singapore">Singapore</option>
<option value="Slovakia">Slovakia</option>
<option value="Slovenia">Slovenia</option>
<option value="Solomon Islands">Solomon Islands</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="Spain">Spain</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Sudan">Sudan</option>
<option value="Suriname">Suriname</option>
<option value="Swaziland">Swaziland</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Syria">Syria</option>
<option value="Tahiti">Tahiti</option>
<option value="Taiwan">Taiwan</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Tanzania">Tanzania</option>
<option value="Thailand">Thailand</option>
<option value="Togo">Togo</option>
<option value="Tokelau">Tokelau</option>
<option value="Tonga">Tonga</option>
<option value="Trinidad Tobago">Trinidad &amp; Tobago</option>
<option value="Tunisia">Tunisia</option>
<option value="Turkey">Turkey</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Turks Caicos Is">Turks &amp; Caicos Is</option>
<option value="Tuvalu">Tuvalu</option>
<option value="Uganda">Uganda</option>
<option value="Ukraine">Ukraine</option>
<option value="United Arab Erimates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option value="Uraguay">Uruguay</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Vatican City State">Vatican City State</option>
<option value="Venezuela">Venezuela</option>
<option value="Vietnam">Vietnam</option>
<option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
<option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
<option value="Wake Island">Wake Island</option>
<option value="Wallis Futana Is">Wallis &amp; Futana Is</option>
<option value="Yemen">Yemen</option>
<option value="Zaire">Zaire</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>
</select>
                    </div>
            
                    <div class="form-group ">
                       
                           
                    </div>
                    <div class="form-group ">
                        
                    </div>
                    <div class="form-group ">

                    </div>

 <input type="submit" class="btn btn-default btn-block" value="Change Information"> </form>
</div>
            </div>
            
        </div>
    </div>
</div>
