<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h2 class="OB">Sign Up</h2>
             </div>
          
             <div class="panel-body">
             		<form action="/signup" method="post">
		<li class="list-group-item noround"><label for="Username">Username</label> <input type="text" class="form-control" name="username" placeholder="Enter Username" required></li>
		<li class="list-group-item "><label for="Birthday"> Password</label> <input type="password" class="form-control" name="passwordcheck" placeholder="Enter Password" required></li>

		<li class="list-group-item "> <label for="Birthday">Confirm Password</label> <input type="password" class="form-control" name="password" placeholder="Enter Password" required></li>
		<li class="list-group-item"><label for="Birthday">Email</label><input type="email" name="email" class="form-control" placeholder="Enter Email" required> </li>
<li class="list-group-item"><label for="Birthday">Confirm Email</label><input type="email" name="confirmemail" class="form-control" placeholder="Enter Email" required> </li>
		<li class="list-group-item text-center noround"><input type="submit" href="/signup" class="btn btn-default btn-block"></li>
		
	</form>
		<li class="list-group-item "> <a href="/" class=" btn btn-default">Already have account?</a> <button href="#" class="btn btn-default pull-right " data-toggle="modal" data-target="#forgot_password">I forgot my password</button></li>
             </div>
             </div>
             


