<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h2 class="OB">Webmasters</h2>
             </div>
             
             <div class="panel-body">
                   <div class="col-xs-12">
            <blockquote class="button1 OB">Webmasters are responsible for the creation of Budokai-Online.</blockquote>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-2 text-center">
               

        </div>
                 </div>
                 </div>
                 </div>
                 
                 <div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h2 class="OB">Admins</h2>
             </div>
             
             <div class="panel-body">
                   <blockquote class="grey button1 OB">Administrators are in charge of the staff members and is second in command.</blockquote>
                 </div>
                 </div>
                
                 
                 
                 <div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h2 class="OB">Community Team</h2>
             </div>
             
             <div class="panel-body">
                 <blockquote class="grey button1 OB">The community team is in charge of forum and public events.</blockquote>
                 </div>
                 </div>
                 
                 
                  <div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h2 class="OB">Balance Team</h2>
             </div>
             
             <div class="panel-body">
                 <blockquote class="button1 grey OB">The balance team is in charge of everything related to characters and items.</blockquote>
                 </div>
                 </div>
               
                 
                 
                  <div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h2 class="OB">Graphics Team</h2>
             
             </div>
             
             <div class="panel-body">
                  <blockquote class="button1 grey OB">The graphics team is in charge of designing different areas around the site.</blockquote>
                 </div>
                 </div>
                
         
                 





