<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB">Special Thanks</h3>
             </div>
                
             
             <div class="panel-body">
          <h2 >There are numerous contrubutors who helped forge Budokai-Online. Below is a list of benefactors and the usages we used.</h2> 
</div></div>

<div class="panel noround " style="margin: 0px; border:black;">
           <div class="panel-heading noround navbar-orange ">
             <h3 class="OB">Giving a special thanks too the following</h3>
             </div>
              
                 
             <div class="panel-body">
          Saiyan pod & time machine via ingame: <u><a class="fixed" href="http://camarinox.deviantart.com/"><b>Camarinox of DA</a></u></b>.<br>
            Namekian ship via ingame: <u><a class="fixed" href="http://gatnne.deviantart.com/"><b>Gatnne of DA</a></u></b>.<br>
            Smilies: <u><a class="fixed" href="http://bad-blood.deviantart.com/"><b>Bad Blood of DA</a></u></b>.<br>
            Homepage/forum background: <u><a class="fixed" href="http://smattila.deviantart.com/art/Serenity-120144653"><b>Smattila of DA</a></u></b>.<br>
            Ingame background: <u><a class="fixed" href="http://dmitryep18.deviantart.com/art/Endless-space-357151957"><b>Dmitryep18 of DA</a></u></b>.<br>
            Menu background: <u><a class="fixed" href="http://bad-blood.deviantart.com/"><b>Bad Blood of DA</a></u></b>.<br>
            The entire Budokai-Online staff for their commitment to the game.


</div></div>


        