<div class="panel-heading noround " style="margin: 0px; border:black;">
    <div class="navbar-body text-center btn-lg btn-block OB noround">
        Lastest Discussions
    </div>
</div>
<div class="panel noround" style="margin: 0px;  border:black;">
    <div class="panel-heading noround">
        <div class="row custcolor">
            <div class="col-lg-1 "><img src="http://placehold.it/75x75" class="img-message"></div>
            <div class="col-lg-7">
                <h6 class="OB">Random Top Title Here</h6><small><img src="http://placehold.it/25x25" class="latestby OB" alt="{UPDATED BY}"> Last Post By [ Username] in [Forum Section] about  [Hours Ago]</small></div>
            <div class="col-lg-2">[Number Of Comments]
                <br> <small> [Amount]</small> </div>
            <div class="col-lg-2">[Number Of Views]
                <br> <small> [Amount]</small> </div>
        </div>

    </div>

    <div class="panel noround " style="margin: 0px;  border:black;">
        <div class="panel-heading noround">
            <div class="row">
                <div class="col-lg-1 "><img src="http://placehold.it/75x75" class="img-message"></div>
                <div class="col-lg-7">
                    <h6 class="OB">Random Top Title Here</h6><small><img src="http://placehold.it/25x25" class="latestby OB" alt="{UPDATED BY}"> Last Post By [ Username] in [Forum Section] about  [Hours Ago]</small></div>
                <div class="col-lg-2">[Number Of Comments]
                    <br> <small> [Amount]</small> </div>
                <div class="col-lg-2">[Number Of Views]
                    <br> <small> [Amount]</small> </div>
            </div>

        </div>

        <div class="panel noround " style="margin: 0px;  border:black;">
            <div class="panel-heading noround">
                <div class="row">
                    <div class="col-lg-1 "><img src="http://placehold.it/75x75" class="img-message"></div>
                    <div class="col-lg-7">
                        <h6 class="OB">Random Top Title Here</h6><small><img src="http://placehold.it/25x25" class="latestby OB" alt="{UPDATED BY}"> Last Post By [ Username] in [Forum Section] about  [Hours Ago]</small></div>
                    <div class="col-lg-2">[Number Of Comments]
                        <br> <small> [Amount]</small> </div>
                    <div class="col-lg-2">[Number Of Views]
                        <br> <small> [Amount]</small> </div>
                </div>

            </div>

            <div class="panel noround " style="margin: 0px;  border:black;">
                <div class="panel-heading noround">
                    <div class="row">
                        <div class="col-lg-1 "><img src="http://placehold.it/75x75" class="img-message"></div>
                        <div class="col-lg-7">
                            <h6 class="OB">Random Top Title Here</h6><small><img src="http://placehold.it/25x25" class="latestby OB" alt="{UPDATED BY}"> Last Post By [ Username] in [Forum Section] about  [Hours Ago]</small></div>
                        <div class="col-lg-2">[Number Of Comments]
                            <br> <small> [Amount]</small> </div>
                        <div class="col-lg-2">[Number Of Views]
                            <br> <small> [Amount]</small> </div>
                    </div>

                </div>

            </div>

            <div class="panel noround " style="margin: 0px; border:black;">
                <div class="panel-heading noround">
                    <div class="row">
                        <div class="col-lg-1 "><img src="http://placehold.it/75x75" class="img-message"></div>
                        <div class="col-lg-7">
                            <h6 class="OB">Random Top Title Here</h6><small><img src="http://placehold.it/25x25" class="latestby OB" alt="{UPDATED BY}"> Last Post By [ Username] in [Forum Section] about  [Hours Ago]</small></div>
                        <div class="col-lg-2">[Number Of Comments]
                            <br> <small> [Amount]</small> </div>
                        <div class="col-lg-2">[Number Of Views]
                            <br> <small> [Amount]</small> </div>
                    </div>

                </div>

            </div>

            <div class="panel noround " style="margin: 0px;  border:black;">
                <div class="panel-heading noround">
                    <div class="row">
                        <div class="col-lg-1 "><img src="http://placehold.it/75x75" class="img-message"></div>
                        <div class="col-lg-7">
                            <h6 class="OB">Random Top Title Here</h6><small><img src="http://placehold.it/25x25" class="latestby OB" alt="{UPDATED BY}"> Last Post By [ Username] in [Forum Section] about  [Hours Ago]</small></div>
                        <div class="col-lg-2">[Number Of Comments]
                            <br> <small> [Amount]</small> </div>
                        <div class="col-lg-2">[Number Of Views]
                            <br> <small> [Amount]</small> </div>
                    </div>

                </div>

            </div>

            <div class="panel noround " style="margin: 0px;  border:black;">
                <div class="panel-heading noround">
                    <div class="row">
                        <div class="col-lg-1 "><img src="http://placehold.it/75x75" class="img-message"></div>
                        <div class="col-lg-7">
                            <h6 class="OB">Random Top Title Here</h6><small><img src="http://placehold.it/25x25" class="latestby OB" alt="{UPDATED BY}"> Last Post By [ Username] in [Forum Section] about  [Hours Ago]</small></div>
                        <div class="col-lg-2">[Number Of Comments]
                            <br> <small> [Amount]</small> </div>
                        <div class="col-lg-2">[Number Of Views]
                            <br> <small> [Amount]</small> </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="panel noround " style="margin: 0px; border:black;">
        <div class="panel-heading noround">
            <h2 class="text-center OB">Active Users:  <%=@Online.count%></h2>

        </div>

        <div class="panel-body">
            <div class="col-lg-12">
                <div class="testing TW">
                    <span class="Webmaster"><b>Webmasters</b></span>&nbsp;<span class="Admin"><b>Admins</b></span>&nbsp;<span class="Quest"><b>Quest Team</b></span>
                    <span class="Balance"><b>Balance Team</b></span>&nbsp;<span class="Community"><b>Community Team</b></span>&nbsp;<span class="Member"><b>Members</b>
  </span></div>
            </div>

            <div class="col-lg-12">
                <div class="testing TW">
                    <% if @Online %>
                        <% @Online.all.each do |o| %>
                            <a href="/user/<%=o.username%>"><span class="<%=o.group%>"><b><%=o.username%></b></span></a>
                            <% end %>
                                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="containerfoot"></div>
<div class="forum-fixed2"></div>
<!--Row
 <div class="col-md-3 sidelayoutsection">
                    <div class="main-side-box clearfix">
                        <div class="mainheading clearfix">
                            <div class="createtopicbutton">
                                <a href="#" class="btn-forum btn-lg btn-block OB">
            New Discussion
        </a>
                            </div>

                            <div class="side-box categories-box">
                                <h5 class="OB">Categories</h5>

                                <ul class="OB">
                                    <li><a href="#">All Categories</a></li>
                                    <li>
                                        <a href="#">Budokai Online HQ</a>

                                    </li>
                                    <li>
                                        <a href="#">Social &amp; Interests</a>

                                    </li>
                                    <li>
                                        <a href="#">Earths Countries</a>

                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="side-box hottopics-box">
                            <h5 class="OB">Hot Topics</h5>

                            <ul class="OB">
                                <li>
                                    <span class="badge2">1</span>
                                    <a href="#">Hot Topic Here</a>
                                </li>
                                <li>
                                    <span class="badge2">2</span>
                                    <a href="#">Hot Topic Here</a>
                                </li>
                                <li>
                                    <span class="badge2">3</span>
                                    <a href="#">Hot Topic Here</a>
                                </li>
                                <li>
                                    <span class="badge2">4</span>
                                    <a href="#">Hot Topic Here</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

-->